body {
    margin: 0;
    background: mediumturquoise url('https://scontent-muc2-1.xx.fbcdn.net/v/t1.6435-9/40143960_10160952303260226_4264070040006950912_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_ohc=_YpG5WbStcYAX_2FNxx&_nc_ht=scontent-muc2-1.xx&oh=00_AfD2wwCU2ce2cgjdunbe3tMeyDmwiOlLO8zNL1mfR2fUog&oe=63E85F14.jpg') no-repeat center center/cover;
    text-align: center;
}
